/FlipChess/Unity/.vs
/FlipChess/Unity/UserSettings
/FlipChess/Unity/Logs
/FlipChess/Unity/obj
/FlipChess/Unity/.vsconfig
/FlipChess/Unity/Assembly-CSharp.csproj
/FlipChess/Unity/Dreamwear.csproj
/FlipChess/Unity/FlipChess.sln
/FlipChess/Unity/Unity.sln
/FlipChess/Server/bin
/FlipChess/Server/obj
/FlipChess/Unity/Library
/FlipChess/Server/.vs
